.float_button {
  width: 4rem;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  right: 2rem;
  bottom: 2rem;
  border: none;
  border-radius: 100%;
  background-color: var(--primary);

  & > button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 50rem;

    & > svg {
      scale: 1.5;
    }
  }
}
