.add_members {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1rem 2rem;

  & > input {
    --input-bg-color: transparent;

    flex: 1;
    min-width: fit-content;
    font-family: inherit;
    font-size: 16px;
    border: none;
    color: var(--add-member-input-font-color);
    background-color: var(--input-bg-color);

    &:focus {
      outline: none;
    }
  }
}
