.body {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  & > div {
    display: flex;
    flex-direction: column-reverse;

    & > label {
      --label-gray: #838383;

      font-size: 14px;
      width: fit-content;
      padding-inline: 0.5rem;
      transform: translate(10px, 12px);
      background-color: #fff;
      color: var(--label-gray);
      transition: color 250ms;
    }

    & > input {
      --ring-gray: #b8b8b8;
      --ring-green-hover: #29a74e;
      --ring-green-focus: #1f8a3f;

      font-family: inherit;
      font-size: 16px;
      padding: 0.5rem;
      border: 1px solid var(--ring-gray);
      outline: 1px solid transparent;
      border-radius: 5px;
      transition: border-color 250ms, outline 250ms;

      &:hover {
        border-color: var(--ring-green-hover);

        & + label {
          --label-green-hover: #29a74e;

          color: var(--label-green-hover);
        }
      }

      &:focus {
        border-color: var(--ring-green-focus);
        outline-color: var(--ring-green-focus);

        & + label {
          --label-green-focus: #1f8a3f;

          color: var(--label-green-focus);
        }
      }
    }
  }

  & > button {
    font-size: 16px;
    font-family: inherit;
    padding: 0.5rem 1rem;
    margin-top: 1rem;
    margin-left: auto;
    border: none;
    border-radius: 5px;
    color: #fff;
    background-color: var(--primary);
  }
}
