.member {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem;

  & > input {
    margin-right: 0.5rem;
    scale: 1.5;
    accent-color: skyblue;
  }

  .delete_member {
    margin-inline-start: auto;
    visibility: hidden;
  }

  &:hover > .delete_member {
    visibility: visible;
  }
}

.admin {
  font-size: 12px;
  margin-inline-start: auto;
}
