.login {
  display: flex;
  justify-content: center;
  align-items: center;

  & > form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: min(25rem, 80%);
    padding: 2rem;
    border: 1px solid var(--primary);
    border-radius: 5px;

    & > header {
      margin-inline: auto;

      & > span {
        font-size: 2rem;
        font-weight: 600;
        color: var(--tertiary);
      }
    }

    & > footer {
      display: flex;
      justify-content: space-between;
      align-items: center;

      & > a {
        color: #000;
      }
    }
  }
}

.login_error {
  color: #ff0000;
}
