.group_photo {
  --group-profile-background-color: #fff;
  --group-profile-font-color: #000;

  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  width: 2rem;
  height: 2rem;
  border: 1px solid;
  border-radius: 100%;
  background-color: var(--group-profile-background-color);
  color: var(--group-profile-font-color);
  user-select: none;
}
