.send_message_place {
  --transition-duration: 100ms;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 3.5rem;
  min-height: 3.5rem;
  max-height: 22rem;
  padding: 1rem 2rem;
  border-top: 1px solid #000;
  background-color: var(--white);
  transition: height var(--transition-duration);
}

.message_to_edit {
  display: flex;
  align-items: center;
  gap: 1rem;
  position: relative;
  width: 75%;
  padding: 0.5rem 1rem;
  margin: 1rem auto;
  border-radius: 5px;
  background-color: #fff;

  & > div:first-child {
    display: flex;
    flex-direction: column;
    background-color: #e9e9e9;
    width: 100%;
    padding-inline: 0.5rem;
    border-radius: 3px;

    & > span {
      font-size: 14px;

      &:first-child {
        font-weight: 500;
        color: var(--tertiary);
      }
    }
  }

  & > div:last-child {
    & > button {
      scale: 1.5;
    }
  }
}
