.send_message_place {
  --transition-duration: 100ms;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 3.5rem;
  min-height: 3.5rem;
  max-height: 22rem;
  padding: 1rem 2rem;
  border-top: 1px solid var(--send-message-place-border-top-color);
  background-color: var(--send-message-place-bg-color);
  transition: height var(--transition-duration);
}

.edit_message_container {
  display: flex;
  align-items: center;
  gap: 1rem;
  position: relative;
  width: 75%;
  padding: 0.5rem 1rem;
  margin: 1rem auto;
  border-radius: 5px;
  background-color: var(--edit-message-bg-color);
}

.edit_message {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-inline: 0.5rem;
  border-radius: 3px;
  background-color: var(--message-to-edit-bg-color);

  & > span {
    font-size: 14px;

    &:first-child {
      font-weight: 500;
      color: var(--editting-font-color);
    }
  }
}

.message {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: var(--message-text-font-color);
}

.close {
  & > button {
    scale: 1.25;
  }
}
