@use "../../style/breakpoint.scss";

.otp_container {
  --border-color: #08a045;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 2rem;
  border: 1px solid var(--border-color);
  border-radius: 10px;

  @include breakpoint.mobile-only {
    padding: 1.5rem;
  }

  & > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    width: 100%;
  }
}

.header {
  display: flex;
  width: 100%;

  & > button {
    position: absolute;
  }

  & > span {
    --font-color: #0b6e4f;

    margin-inline: auto;
    font-weight: 600;
    font-size: 24px;
    text-align: center;
    color: var(--font-color);
  }
}

.text_content {
  font-size: 12px;
  font-weight: 500;
  text-align: center;
}

.request_again {
  margin-top: 2rem;

  & > p {
    font-size: 12px;
    font-weight: 300;

    & > span {
      text-decoration: underline;
    }
  }
}

.submit_button {
  margin-block-start: 2rem;
  margin-inline: auto;
}
