.user_setting {
  padding: 1rem 2rem;

  & > span {
    font-size: 18px;
    font-weight: 500;
  }

  & > div {
    padding-block: 1rem;
  }
}

.delete_account {
  --delete-account-base: rgb(255, 0, 0);

  font-weight: 500;
  width: fit-content;
  color: var(--delete-account-base);

  &:hover {
    --delete-account-hover: rgb(255, 100, 100);

    color: var(--delete-account-hover);
    text-decoration: underline;
  }
}
