@use "../../style/breakpoint.scss";

.header {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 2rem 2.5rem;

  & > span {
    --logo-color: #08a045;

    font-size: 20px;
    font-weight: 700;
    color: var(--logo-color);

    @include breakpoint.tablet {
      font-size: 24px;
    }

    @include breakpoint.desktop {
      font-size: 30px;
    }
  }

  & > svg {
    @include breakpoint.desktop {
      scale: 1.25;
    }
  }

  @include breakpoint.desktop {
    padding: 2rem 6rem;
  }
}
