.new_contact {
  --new-contact-background-color: #08a045;

  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 2rem;
  bottom: 2rem;
  width: 4rem;
  height: 4rem;
  border-radius: 100%;
  background-color: var(--new-contact-background-color);
}
