.form {
  display: flex;
  flex-direction: column;
  width: 25rem;
  padding: 1rem 2rem;
  border-radius: 10px;
  background-color: var(--change-group-information-form-bg-color);

  & > div {
    display: flex;
    flex-direction: column-reverse;

    & > label {
      font-size: 14px;
      width: fit-content;
      padding-inline: 0.5rem;
      transform: translate(10px, 12px);
      background-color: var(--label-bg-color);
      color: var(--label-gray);
      transition: color 250ms;
    }

    & > textarea {
      font-size: 16px;
      font-family: inherit;
      width: 100%;
      padding: 0.5rem;
      border: 1px solid var(--ring-gray);
      outline: 1px solid transparent;
      border-radius: 5px;
      color: var(--input-font-color);
      background-color: var(--input-bg-color);
      transition: border-color 250ms, outline 250ms;
      resize: none;

      &:hover {
        border-color: var(--ring-green-hover);

        & + label {
          color: var(--label-green-hover);
        }
      }

      &:focus {
        border-color: var(--ring-green-focus);
        outline-color: var(--ring-green-focus);

        & + label {
          color: var(--label-green-focus);
        }
      }

      &[aria-invalid="true"] {
        border-color: var(--ring-error-color);
        outline-color: var(--ring-error-color);

        & + label {
          color: var(--label-error-color);
        }
      }
    }
  }
}

.submit {
  margin-left: auto;
  margin-top: 1rem;
}
