@use "../../style/breakpoint.scss";

.navigation {
  --transition-duration: 200ms;

  display: flex;
  flex-direction: column;
  height: 100%;
  width: 75%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: var(--nav-bg-color);
  transition: transform var(--transition-duration);
  z-index: 10;
  user-select: none;
}

.nav_option {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  height: calc(100% - 7rem);
  padding: 1rem;
  color: var(--nav-option-font-color);
}

.user_data {
  display: flex;
  align-items: center;
  gap: 1rem;
  height: 7rem;
  padding: 1rem;
  color: var(--nav-user-data-font-color);
  background-color: var(--nav-user-data-bg-color);

  & > div {
    display: flex;
    flex-direction: column;
  }
}

.username {
  font-size: 16px;
  font-weight: 600;
}

.email {
  font-size: 14px;
}

.close_nav {
  transform: translateX(-100%);
}
