@use "../../style/breakpoint.scss";

.navigation {
  --transition-duration: 200ms;
  --navigation-background-color: #fff;

  display: flex;
  flex-direction: column;
  height: 100%;
  width: 75%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: var(--navigation-background-color);
  transition: transform var(--transition-duration);
  z-index: 10;
  user-select: none;
}

.nav_option {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 1rem;
}

.user_data {
  --user-data-font-color: #fff;
  --user-data-background-color: #0b6e4f;

  display: flex;
  align-items: center;
  gap: 1rem;
  height: 7rem;
  padding: 1rem;
  color: var(--user-data-font-color);
  background-color: var(--user-data-background-color);

  & > div {
    display: flex;
    flex-direction: column;
  }
}

.username {
  font-size: 16px;
  font-weight: 600;
}

.email {
  font-size: 14px;
}

.close_nav {
  transform: translateX(-100%);
}
