.chat_profile {
  --chat-profile-background-color: #fff;

  height: 100%;
  background-color: var(--chat-profile-background-color);
}

.float_button {
  --float-button-background-color: #0b6e4f;

  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 2rem;
  bottom: 2rem;
  width: 4rem;
  height: 4rem;
  border: none;
  border-radius: 100%;
  background-color: var(--float-button-background-color);

  & > button {
    width: inherit;
    height: inherit;
  }
}

.change_name {
  padding-inline: 2rem;
}
