.float_button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 2rem;
  bottom: 2rem;
  width: 4rem;
  height: 4rem;
  border: none;
  border-radius: 100%;
  background-color: var(--primary);

  & > button {
    width: inherit;
    height: inherit;
  }
}

.change_name {
  padding-inline: 2rem;
}
