.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #7575758e;

  & > div {
    width: 25rem;
    padding: 1rem 2rem;
    border-radius: 10px;
    background-color: #fff;
  }
}
