.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 2rem;
  padding: 0.5rem 1rem;
  font-size: inherit;
  border: none;
  border-radius: 5px;
  color: var(--white);
  background-color: var(--primary);
}
