.setting {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: absolute;
  top: 4.5rem;
  right: 1rem;
  width: 8rem;
  border-radius: 5px;
  overflow: hidden;
  z-index: 10;

  & > button {
    --setting-button-font-color: #000;
    --setting-button-background-color: #fff;

    font-size: 14px;
    font-family: inherit;
    font-weight: 400;
    padding: 0.5rem;
    border: none;
    color: var(--setting-button-font-color);
    background-color: var(--setting-button-background-color);
  }

  & > button:hover {
    --setting-button-background-color-hover: #cccccc;

    background-color: var(--setting-button-background-color-hover);
  }
}
